body{
    background-color:aliceblue;
    padding: 0;
    margin: 0;
}

header{
    background-color: #154474;
    color: #ecf0f1;
    height: 230px;
    align-items: center;
    display: flex;
}

#span_titolo{
    display: block;
    margin-left:80px;
}

section{
    margin-left:10%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxs{
    margin-top:4%;
    height: 150px;
    width: 85%;
    font-size: 18px;
    border-radius: 1cm;
    border:black;
    border:solid;
}

#contenuto2{
}

#img1{
    height: 250px;
    width: 250px;
    display: block;
}

#img2{
    height: 250px;
    width: 250px;
    display: block;
}

#immagini{
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top:10%
}

#immagini2{

}

footer{
    background-color: #154474;
    color: #ecf0f1;
    height: 100px;
    align-items: center;
    display: flex;
}

#contatti{
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #immagini{
        display: flex;
        justify-content: center;
        width: 85%;
        align-items: center;
    }
    #img1{
        height: 30%;
        width: 30%;
        display: block;
    }
    
    .boxs{
        margin-top:4%;
        height: 150px;
        width: 85%;
        font-size: 14px;
        border-radius: 1cm;
        border:black;
        border:solid;
    }
  }